@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Rubik:wght@400;500;600&display=swap");
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: rgb(61, 61, 61);
  font-size: 1.6rem;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}
.section {
  margin-top: 100px;
}

/* header  */
.navbar .navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
}
.nav-item .nav-link {
  color: #fff;
  font-weight: bold;
}
.nav-item:hover .nav-link {
  color: #ff8800 !important;
}
.header-contact {
  color: #fff;
  line-height: 1.2;
}
.contact-number {
  font-size: 1.75rem;
}

/* hero */
.hero {
  background-image: url(../img/hero-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.hero-content {
  color: #fff;
  max-width: 30%;
  position: absolute;
  top: 30%;
  left: 26%;
}
.hero-title {
  font-size: 7.2rem;
}
.hero-title span {
  color: #ff8800;
  font-size: 8.5rem;
}
.hero-text {
  font-size: 1.8rem;
}
.btn-outline {
  border: 1px solid #fff;
  padding: 12px 30px;
  display: inline-block;
  color: inherit;
}
.btn-outline:hover {
  background-color: #ff8800;
  border: transparent;
}
.hero-shape {
  position: absolute;
  /* z-index: -1; */
  animation: move 2s ease-in-out infinite alternate;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.hero .shape-1 {
  top: 100px;
  left: 45px;
}
.hero .shape-2 {
  bottom: 80px;
  right: 30px;
}

/* about  */
.about .img-holder {
  position: relative;
  width: 400px;
  height: 720px;
  box-shadow: rgba(30, 144, 210, 0.7) 0px 40px 60px 0px;
}
.about-banner {
  max-width: 370px;
}
.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about .about-img1 {
  position: absolute;
  right: -100px;
  bottom: 40px;
  animation: move 2s ease-in-out infinite alternate;
}
.about .about-img2 {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: -1;
}
.section-subtitle {
  color: #ff8800;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  margin-block-end: 10px;
}
.section-title {
  font-size: 45px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(11, 46, 66);
  line-height: 54px;
  padding: 0 0 8px 0;
}
.about-icon {
  min-width: max-content;
  color: #ff8800;
  margin-block-start: 8px;
}
a.btn {
  position: relative;
  color: #fff;
  background-color: #ff8800;
  max-width: max-content;
  font-size: 18px;
  letter-spacing: 1px;
  padding-block: 10px;
  padding-inline: 30px 60px;
}
a.btn:hover {
  background-color: #ff8800;
  color: #fff;
}
.btn:is(:hover, :focus)::after {
  width: 40px;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: 0.25s ease;
}
.btn::before {
  top: 50%;
  right: 15px;
  width: 25px;
  height: 1px;
  background-color: #fff;
}
.btn::after {
  top: -6px;
  right: -6px;
  bottom: -6px;
  width: 20px;
  border: 2px solid #ff8800;
  z-index: -1;
}

/* service */
.service,
.project {
  background-color: #f0f9ff;
}
.service-card {
  background-color: #fff;
  padding: 30px;
  border: 20px solid hsl(0, 0%, 95%);
  transition: 0.25s ease;
}
.service-card:hover {
  border-color: #ff8800;
}
.card-title {
  color: rgb(11, 46, 66);
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
}
.card-title span {
  color: rgb(255, 136, 0);
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.btn-link {
  color: #ff8800 !important;
}

/* feature  */
.feature-card {
  position: relative;
  padding: 30px;
  text-align: center;
  border: 1px solid rgb(240, 249, 255);
  transition: 0.25s ease;
}
.feature-card::before {
  content: var(--card-number);
  color: hsl(0, 0%, 94%);
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  transition: 0.25s ease;
}
@media (min-width: 992px) {
  .feature-card::before {
    font-size: 10rem;
    position: absolute;
    top: -90px;
    left: 20px;
  }
}
@media (min-width: 992px) {
  .feature-card {
    padding-block-start: 80px;
  }
}
.feature-card:is(:hover, :focus-within)::before {
  color: #ff8800;
}
.feature-card:is(:hover, :focus-within) {
  box-shadow: rgba(30, 144, 210, 0.5) 0px 0px 60px 0px;
}
.feature-card .card-icon {
  background-color: rgb(240, 249, 255);
  width: 170px;
  height: 170px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  margin-inline: auto;
  margin-block-end: 30px;
}
.card-title {
  font-size: 1.75rem;
  color: rgb(11, 46, 66);
  font-family: "Oswald", sans-serif;
  line-height: 26.4px;
}
.card-text {
  margin-block: 20px 40px;
}
.feature-card .card-btn {
  color: rgb(11, 46, 66);
  font-size: 24px;
  border: 2px solid rgb(11, 46, 66);
  max-width: max-content;
  margin-inline: auto;
  padding: 10px 18px;
}

/* project  */
.project-card {
  position: relative;
}
.project-card .action-btn {
  background-color: #ff8800;
  border: transparent;
  color: #fff;
  font-size: 28px;
  padding: 10px 14px;
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0;
  transition: 0.25s ease;
}
.project-card:is(:hover, :focus-within) .action-btn {
  opacity: 1;
}
.project-card .card-content {
  position: relative;
  background-color: #fff;
  padding: 20px 30px;
  margin-block-start: -50px;
  margin-inline-start: 30px;
}
.project-card .card-tag {
  color: #ff8800;
  font-size: 14px;
  margin-bottom: 0;
}
.project-card .card-title {
  color: rgb(11, 46, 66);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}
.project-card .card-link {
  color: rgb(11, 46, 66);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-block-start: 5px;
  transition: 0.25s ease;
}
.project-card :is(.card-title, .card-link):is(:hover, :focus) {
  color: #ff8800;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hydrated {
  visibility: inherit;
}

/* blog  */
.blog-card .card-content {
  position: relative;
}
.blog-card .card-title {
  font-size: 22px;
}
.blog-card a {
  color: #0b2e42;
}
.blog-card .card-text {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: normal;
  font-family: "Rubik", sans-serif;
}
.blog-card .btn-link span {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: #ff8800;
  text-transform: uppercase;
  font-weight: normal;
}
.blog-card .card-meta {
  background-color: #0b2e42;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  max-width: max-content;
  margin-inline: auto 20px;
  margin-block: -130px 10px;
  padding: 20px 25px;
  box-shadow: -8px 8px 0 #ff8800;
}
time {
  display: block;
}
.blog-card .card-meta span {
  color: #ff8800;
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.75;
  display: block;
}

/* newsletter  */
.newsletter {
  background-color: #ff8800;
}
/* @media (min-width: 992px) {
  .newsletter .newsletter-banner {
    bottom: -30px;
  }
}
@media (min-width: 768px) {
  .newsletter .newsletter-banner {
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-block-end: 0;
  }
} */
.newsletter {
  position: relative;
}
.newsletter-banner {
  position: absolute;
  bottom: -16px;
}
.newsletter .img-holder {
  background-color: transparent;
  max-width: max-content;
}
.newsletter-content {
  max-width: 840px;
  margin-inline-start: auto;
}
.email-field {
  background-color: #fff;
  color: hsl(210, 11%, 15%);
  font-size: 1.4rem;
  height: 65px;
  padding-inline: 20px;
  margin-block-end: 10px;
  outline: none;
  transition: 0.25s ease;
}
input {
  width: 100%;
  background: none;
  border: none;
}
.newsletter-btn {
  background-color: rgb(11, 46, 66);
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  padding: 10px 30px;
  border: transparent;
}

/* footer  */
footer .social-link {
  height: 38px;
  width: 38px;
  background: #0b2e42;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom {
  line-height: 40px;
  margin-bottom: 0;
}
footer .logo{
  color: #0b2e42;
  font-weight: 700;
  font-size: 35px;
}
